@use "../../../../styles/variables";
@use "sass:map";


/* BASE LAYOUT */
.create-acc-container {
    width: map.get(variables.$layout-width, "l");
    margin: auto;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    gap: 30px;
    padding-top: 50px;


    /* LEFT SECTION */
    .left-section {
        width: 55%;


        .tagline {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 500;
        }

        .title {
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            margin-bottom: 30px;
        }

        .subtitle {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px;
        }

        /* FEATURES */
        .features {
            display: flex;
            flex-wrap: wrap;
            // flex-direction: column;
            gap: 25px;


            .feature-item {
                width: 45%;
                display: flex;
                gap: 15px;
                align-items: flex-start;
                margin-bottom: 20px;

                svg {
                    font-size: 2.25em;

                }

                .m-icon {
                    fill: #216aF3;
                }

                .t-icon {

                    fill: #216aF3;
                }

                .c-icon {

                    fill: #216aF3;
                }

                .h-icon {

                    fill: #80C2B2;
                }

                .l-icon {

                    fill: #EF8C68;
                }








                h4 {
                    color: #0CA2AB;
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }














            }


        }
    }

    /* RIGHT SECTION */
    .right-section {
        width: 40%;

        .signup-header {
            background: #fff;
            border: 1px solid variables.$light-green;
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 14px;
            border-radius: 10px 10px 0 0;
            padding: 8px 20px;
            margin-bottom: 5px;
            font-weight: 600;

            .back-arrow {
                display: flex;
                gap: 8px;
                align-items: center;
                cursor: pointer;

                svg {
                    font-size: 2em;
                }
            }

        }

        .flex {
            justify-content: space-between;

        }

        .block {
            justify-content: flex-end;
        }

        .form-card {
            width: 100%;
            // max-width: 450px;
            background: white;
            border: 1.5px solid variables.$light-green;
            border-radius: 12px;
            padding: 25px;



            h3 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .form-desc {
                font-size: 16px;
                margin-bottom: 50px;
            }

            .patient-c-input {
                border: 1px solid variables.$light-green;
                border-radius: 10px;

            }


            /* Button */
            .form-btn {
                width: 100%;
                padding: 14px;
                text-align: center;
                color: white;
                border: none;
                font-size: 16px;
                border-radius: 10px;
                font-weight: 600;


            }

            .next-btn {
                background: variables.$green;
                margin-top: 30px;

                &:hover {
                    background: variables.$dark-green;
                    cursor: pointer;
                }

            }


            .create-btn {
                margin: 50px 0;
            }
        }
    }

    /* ------------ RESPONSIVE BREAKPOINTS ------------ */

    /* MEDIUM SCREENS (TABLETS) */
    // @media (min-width: 768px) {
    //     .create-container {
    //         padding: 60px;
    //     }

    //     .title {
    //         font-size: 40px !important;
    //     }

    //     .left-section .subtitle {
    //         width: 85%;
    //     }
    // }

    /* LARGE SCREENS (DESKTOP) */
    // @media (min-width: 1024px) {
    //     .create-container {
    //         flex-direction: row;
    //         align-items: flex-start;
    //         padding: 80px;
    //     }

    //     .left-section {
    //         width: 55%;

    //         .title {
    //             font-size: 48px !important;
    //         }

    //         .subtitle {
    //             width: 90%;
    //             font-size: 16px;
    //         }

    //         .features .feature-item img {
    //             width: 40px;
    //             height: 40px;
    //         }
    //     }

    //     .right-section {
    //         width: 45%;

    //         .form-card {
    //             padding: 40px;
    //             max-width: 500px;

    //             h3 {
    //                 font-size: 22px;
    //             }
    //         }
    //     }
    // }

}