@use "../../../styles/variables";
@use "sass:map";

.home-bridge-section {
    width: 100%;

    .bridge-section {
        width: map.get(variables.$layout-width, "l");
        margin: 0 auto;
        padding: 80px 0;
       

        .bridge-header {
            width: 100%;



            .small-heading {
                color: variables.$green;
                font-size: 14px;
                letter-spacing: 0.05rem;
                font-weight: 600;
                text-align: center;
                // display: block;
            }

            h2 {
                font-size: 54px;
                // color: variables.$green;
                font-weight: 600;
                margin: 20px 0;
                text-align: center;

            }


            .small-p {
                font-size: 18px;
                // color: #2c2c2c;
                margin-bottom: 80px;
                line-height: 1.6;
                text-align: center;

            }

            .learn-more {
                background: variables.$green;
                color: #fff;
                margin: 0 auto;


            }

            // .bridge-left {

            // }

            // .bridge-right {

            // }
        }

        .feature-grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 80px;

            .feature-card {
                width: calc(100% / 3);
                border: 0.5px solid variables.$light-green;
                // border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
                display: flex;

                flex-direction: column;
                transition: all 0.3s ease;
                margin-bottom: 30px;

                &:hover {
                    transform: translateY(-6px);
                    border-color: #b5d7ce;
                }

                .feature-img-con {
                    width: 100%;
                    height: 40vh;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .feature-img {
                        width: 80%;
                        padding: 40px;

                    }

                }



                .feature-content {
                    padding: 1.5rem;

                    h4 {
                        color: #1a7b5d;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-bottom: 60px;
                    }

                    p {
                        font-size: 24px;
                        color: variables.$green;
                        line-height: 1.6;
                        margin-bottom: 100px;
                        font-weight: 600;
                    }


                }
            }
        }

        @media (max-width: 768px) {
            .bridge-header {
                flex-direction: column;
            }

            .feature-grid {
                grid-template-columns: 1fr;
            }
        }
    }

}