 @use "../../../../styles/variables";
 @use "sass:map";

 .account-features {
     display: flex;

     flex-direction: column;
     // gap: 25px;

     h4 {
         font-size: 18px;
         font-weight: 600;
         margin-bottom: 20px;
         color: variables.$ehr-blue;
     }

     .features {
         width: 100%;

         .feature-con {
             width: 100%;
             display: flex;
             align-items: center;
             gap: 10px;
             margin-bottom: 10px;


             .feature-text {
                 font-size: 16px;
                 color: #000;

             }
         }




     }




 }