$grey: #626765;
$green: #4B9181;
$dark-green: #47695C;
$light-green: #AFDCD1;
$light-blue: #BCD2E8;


$ehr-blue: #0CA2AB;
$ehr-dark-blue: #075b60;



$gradient: transparent linear-gradient(132deg, #385a4d 0%, #022819 100%) 0% 0% no-repeat padding-box;


$layout-width: (
  "1": 90%,
  "2": 80%,
  
);
