@use "../../../styles/variables";
@use "sass:map";

.account-home {
    width: map.get(variables.$layout-width, "2");
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow-y: hidden;
   
    .account-home-card {
        width: 50%;
        background: #fff;
        border: 1px solid variables.$light-green;
        border-radius: 10px;
        padding: 20px 30px;

        .logo {
            width: 100%;
            margin-bottom: 40px;

            .logo-section {
                width: fit-content;
                display: flex;
                align-items: center;
                margin: auto;


                img {
                    width: 35px;
                }

                h2 {
                    font-size: 16px;
                    margin-left: 15px;
                    color: variables.$dark-green;
                }


            }
        }

        .intro {
            text-align: center;
            margin-bottom: 70px;

            h4 {

                font-size: 18px;
                font-weight: 600;
                margin-bottom: 20px;
            }


            p {
                width: 75%;
                margin: auto;
                font-size: 16px;
                line-height: 24px;
                color: #000;
            }

        }

        .a-btn {
            width: 100%;

            a {
                display: block;
                width: 100%;
                padding: 10px;
                text-align: center;
                background: variables.$ehr-blue;
                margin-bottom: 20px;
                border-radius: 10px;
                color: #fff;
                font-size: 18px;
                font-weight: 600;

                &:hover {
                    background: variables.$ehr-dark-blue;
                }
            }
        }



        .no-account-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            font-size: 14px;
            padding: 8px 20px;
            margin-bottom: 30px;

            a {

                width: fit-content;
                padding: 6px 18px;
                border: 1px solid #c7c7c7;
                background: white;
                border-radius: 20px;
                cursor: pointer;
                font-size: 13px;
                color: #000;
                font-weight: 500;


                &:hover {
                    background: #f0f0f0;
                }


            }




        }


        .compliance {

            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;


            span {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #979895;
                    margin-right: 15px;
                }

                p {
                    font-size: 14px;
                    color: #979895;
                    font-weight: 500;
                }
            }

        }









    }

}